
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-Kr9 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-1-Kr9 .auto-group-csfw-YU1 {
  margin-bottom: 7.7rem;
  width: 150.6rem;
  height: 13.3rem;
  position: relative;
  border-bottom: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.desktop-1-Kr9 .auto-group-csfw-YU1 .image-5-Qed {
  width: 150.6rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-Kr9 .auto-group-csfw-YU1 .zee-jkt-48-vN5 {
  width: 35.2rem;
  height: 7.8rem;
  position: absolute;
  left: 3.5rem;
  top: 4.6rem;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-Kr9 .auto-group-csfw-YU1 .rectangle-2-NE5 {
  width: 37.1rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 12.6rem;
  background-color: #f900ff;
}
.desktop-1-Kr9 .auto-group-csfw-YU1 .rectangle-3-hGM {
  width: 41.3rem;
  height: 0.5rem;
  position: absolute;
  left: 0;
  top: 11.4rem;
  background-color: #f900ff;
}
.desktop-1-Kr9 .auto-group-csfw-YU1 .polygon-9-SUq {
  width: 2.2061rem;
  height: 2.2061rem;
  position: absolute;
  left: 39.7rem;
  top: 10.4158rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-Kr9 .auto-group-csfw-YU1 .polygon-11-mX7 {
  width: 1.1549rem;
  height: 1.1549rem;
  position: absolute;
  left: 34.3rem;
  top: 12.0509rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-Kr9 .auto-group-ueg1-TPw {
  margin: 0rem 2.1rem 4.2rem 6.3rem;
  width: calc(100% - 8.4rem);
  height: 64.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .zee-jkt-1-MVK {
  margin: 0.1rem 0.9rem 0rem 0rem;
  width: 38.9rem;
  height: 60.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed {
  width: 95.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP {
  width: 86.4rem;
  height: 64.3rem;
  position: absolute;
  left: 5.5rem;
  top: 0;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2102272034;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP-sub-0 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP-sub-1 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP-sub-2 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP-sub-3 {
  font-size: 5rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP-sub-4 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP-sub-5 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP-sub-6 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP-sub-7 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP .azizi-shafaa-asadel-lahir-16-mei-2004-dikenal-dengan-nama-mononim-zee-jkt48-adalah-seorang-penyanyi-dan-aktris-asal-indonesia-yang-tergabung-sebagai-anggota-grup-idola-jkt48-ia-merupakan-anggota-generasi-ketujuh-jkt48-yang-diperkenalkan-pada-29-september-2018-kehidupan-dan-karier-lahir-dengan-nama-lengkap-azizi-shafaa-asadel-zee-adalah-putri-pertama-dari-fadli-akhmad-dan-keponakan-fadlan-muhammad-keduanya-adalah-sepasang-saudara-kembar-yang-terkenal-sebagai-pembawa-acara-dan-pemain-sinetronia-memiliki-3-saudara-laki-laki-dan-1-saudara-perempuan-salah-satunya-adalah-saudara-kembarnya-akhmad-athir-ar-raafi-zee-memulai-kariernya-dengan-masuk-jkt48-sebagai-anggota-akademi-kelas-b-kemudian-azizi-dipromosikan-ke-kelas-a-pada-28-oktober-2018-pada-7-oktober-2019-ia-bergabung-di-tim-j-sampai-tim-dilebur-pada-14-maret-2021-QyP-sub-8 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .line-1-zJd {
  width: 93.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 20.3rem;
  background-color: #000000;
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .arrow-1-WGy {
  width: 5rem;
  height: 0;
  position: absolute;
  left: 90.8rem;
  top: 30.2rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-Kr9 .auto-group-ueg1-TPw .auto-group-j7jh-4ed .next-3Xo {
  width: 4.1rem;
  height: 2.5rem;
  position: absolute;
  left: 90.8rem;
  top: 27.7rem;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-Kr9 .auto-group-hyrh-YzM {
  box-sizing: border-box;
  padding: 0.9rem 2.7rem 0.9rem 21rem;
  width: 159.4rem;
  height: 15.7rem;
  display: flex;
  align-items: flex-start;
  background-color: #000000;
  flex-shrink: 0;
}
.desktop-1-Kr9 .auto-group-hyrh-YzM .kami-ingin-menciptakan-tempat-bagi-para-perempuan-indonesia-untuk-mewujudkan-impian-mereka-bersama-para-penggemar-kami-ingin-membuat-satu-satunya-idola-orisinil-indonesia-inilah-inspirasi-utama-kami-meluncurkan-jkt48-FNy {
  margin: 0.4rem 67.2rem 0rem 0rem;
  max-width: 60.8rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-Kr9 .auto-group-hyrh-YzM .images-1-SiM {
  margin-right: 1.5rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-Kr9 .auto-group-hyrh-YzM .new-instagram-logo-white-glyph-1-apZ {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
